%tr
  %td
    %a.github{:href => edit_admin_blog_post_path(page.slug), :style => 'display:block;margin:-8px;padding:8px;'}
      %strong= page_counter + 1
  %td
    %a.github{:href => edit_admin_blog_post_path(page.slug), :style => 'display:block;margin:-8px;padding:8px;'}
      = page.title
  %td
    %a.github{:href => edit_admin_blog_post_path(page.slug), :style => 'display:block;margin:-8px;padding:8px;'}
      = page.author
  %td
    %a.github{:href => edit_admin_blog_post_path(page.slug), :style => 'display:block;margin:-8px;padding:8px;'}
      = page.created_at.strftime("%B %d, %Y")
  %td
    %a.github{:href => edit_admin_blog_post_path(page.slug), :style => 'display:block;margin:-8px;padding:8px;'}
      = truncate(strip_tags(page.body), length: 30)
  %td
    %a{:href => admin_blog_post_path(page.slug), 'data-method' => 'delete', :rel => 'nofollow', 'data-confirm' => 'Are you sure?'}
      %i.fa.fa-trash-o.rubylang