.col-xs-12.col-sm-8.col-sm-offset-2.col-md-4.col-md-offset-4
  .content-panel
    %h2.yellowmountain.headline Sign up
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      = f.fields_for :profile, resource.build_profile do |fp|
        .form-group.required
          = fp.label :first_name, :class => 'form-label'
          = fp.text_field :first_name, :class => 'form-control'
        .form-group.required
          = fp.label :last_name, :class => 'form-label'
          = fp.text_field :last_name, :class => 'form-control'
        .form-group
          = fp.label :bio, :class => 'form-label'
          = fp.text_area :bio, :class => 'form-control'
      = f.fields_for :organizations, resource.organizations.build do |fo|
        .form-group
          = fo.label :name, Organization.model_name.human + " name", :class => 'form-label'
          = fo.text_field :name, :class => 'form-control'
      .form-group.required
        = f.label :username, :class => 'form-label'
        = f.text_field :username, autofocus: true, :class => 'form-control'
      .form-group.required
        = f.label :email, :class => 'form-label'
        = f.email_field :email, :class => 'form-control'
      .form-group.required
        = f.label :password, :class => 'form-label'
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} characters minimum)
        = f.password_field :password, autocomplete: "off", :class => 'form-control'
      .form-group.required
        = f.label :password_confirmation, :class => 'form-label'
        = f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control'
      .actions
        = f.submit "Sign up", :class => 'btn btn-default'
    = render "devise/shared/links"