.col-xs-12
  .content-panel
    %h2.headline.yellowmountain Mailbox
    %div
      = form_for([:admin, :user, @mailbox]) do |f|

        - unless @mailbox.errors.empty?
          .alert.alert-error.alert-danger
            %button.close{'data-dismiss' => 'alert', :type => 'button'} x
            %ul
              - @mailbox.errors.full_messages.each do |e|
                %li= e

        .form-group
          = f.label :username
          = f.text_field :username, :class => 'form-control'

        .form-group
          = f.label :domain
          = f.text_field :domain, :class => 'form-control'

        .actions
          = f.submit "Update", :class => 'btn btn-default'