.col-xs-12
  .content-panel
    %h2.headline.yellowmountain Mailbox
    %div
      = form_for([:admin, @mailbox]) do |f|

        - unless @mailbox.errors.empty?
          .alert.alert-error.alert-danger
            %button.close{'data-dismiss' => 'alert', :type => 'button'} x
            %ul
              - @mailbox.errors.full_messages.each do |e|
                %li= e

        .form-inline
          .form-group
            = f.label :username
            = f.text_field :username, :class => 'form-control'
          .form-group
            = f.label '@'
            = f.select :domain_id, @domains.collect {|d| [ d.full, d.id ] }, {}, {:class => 'form-control'}


          /.input-group
          /= f.text_field :username, :class => 'form-control'
          /.input-group-addon @#{@domain.full} // This for when domain is explicitly known!

        .actions
          = f.submit "Save", :class => 'btn btn-default'
