.col-xs-12
  .content-panel
    %h2.headline.yellowmountain Mailbox
    %div
      = form_for([:admin, :user, :domain, @mailbox]) do |f|

        - unless @mailbox.errors.empty?
          .alert.alert-error.alert-danger
            %button.close{'data-dismiss' => 'alert', :type => 'button'} x
            %ul
              - @mailbox.errors.full_messages.each do |e|
                %li= e

        = f.hidden_field :domain_id, :value => @domain.id

        .form-group
          = f.label :username
          .input-group
            = f.text_field :username, :class => 'form-control'
            .input-group-addon= "@" + @domain.full

        .actions
          = f.submit "Save", :class => 'btn btn-default'