%h1.headline.yellowmountain New Message
%p= @greeting
%p
  %strong From:
  = @email.name
  = '(' + @email.email + ')'
%h2.headline.yellowmountain= @email.subject
%p
  %strong Message:
  %br/
  = @email.message
