.col-xs-12
  .content-panel
    %h2.headline.yellowmountain User
    %div
      = form_for([:admin, @user]) do |f|

        - unless @user.errors.empty?
          .alert.alert-error.alert-danger
            %button.close{'data-dismiss' => 'alert', :type => 'button'} x
            %ul
              - @user.errors.full_messages.each do |e|
                %li= e

        = f.fields_for :profile, @user.profile || @user.build_profile do |ff|
          .form-group
            = ff.label :first_name
            = ff.text_field :first_name, :class => 'form-control'
          .form-group
            = ff.label :last_name
            = ff.text_field :last_name, :class => 'form-control'
          .form-group
            = ff.label :bio
            = ff.text_area :bio, :class => 'form-control'

        .form-group
          = f.label :username
          = f.text_field :username, :class => 'form-control'

        .form-group
          = f.label :email
          = f.text_field :email, :class => 'form-control'

        .actions
          = f.submit "Update", :class => 'btn btn-default'