.col-xs-12
  .content-panel.bg-white
    %h2.yellowmountain.headline= @user.full_name
    /%h3.yellowmountain.headline= t('organization').pluralize
    %h3.yellowmountain.headline= Organization.model_name.human.pluralize
    .table-responsive
      %table.table.table-hover
        %thead
          %tr
            %th #
            %th Name
            %th
        %tbody.bg-white
          = render @organizations
    .actions
      %a.btn.btn-primary{:href => new_admin_organization_path, :role => 'button'} New #{Organization.model_name.human}
.col-xs-6
  .content-panel.bg-white
    %h3.yellowmountain.headline Domains
    .table-responsive
      %table.table.table-hover
        %thead
          %tr
            %th #
            %th Name
            %th Extension
            %th
        %tbody.bg-white
          = render @domains
    .actions
      %a.btn.btn-primary{:href => new_admin_domain_path, :role => 'button'} New Domain
  .content-panel.bg-white
    %h3.yellowmountain.headline Other
    .table-responsive
      %table.table.table-hover
        %thead
        %tbody.bg-white
.col-xs-6
  .content-panel.bg-white
    %h3.yellowmountain.headline Mailboxes
    .table-responsive
      %table.table.table-hover
        %thead
          %tr
            %th #
            %th Username
            %th Domain
            %th
        %tbody.bg-white
          = render @mailboxes
    .actions
      %a.btn.btn-primary{:href => new_admin_mailbox_path, :role => 'button'} New Mailbox