%tr
  %td
    %a.github{:href => edit_admin_blog_post_path(blog_post.slug), :style => 'display:block;margin:-8px;padding:8px;'}
      %strong= blog_post_counter + 1
  %td
    %a.github{:href => edit_admin_blog_post_path(blog_post.slug), :style => 'display:block;margin:-8px;padding:8px;'}
      = blog_post.title
  %td
    %a.github{:href => edit_admin_blog_post_path(blog_post.slug), :style => 'display:block;margin:-8px;padding:8px;'}
      = blog_post.author
  %td
    %a.github{:href => edit_admin_blog_post_path(blog_post.slug), :style => 'display:block;margin:-8px;padding:8px;'}
      = blog_post.created_at.strftime("%B %d, %Y")
  %td
    %a.github{:href => edit_admin_blog_post_path(blog_post.slug), :style => 'display:block;margin:-8px;padding:8px;'}
      = truncate(strip_tags(blog_post.body), length: 30)
  %td
    %a{:href => admin_blog_post_path(blog_post.slug), 'data-method' => 'delete', :rel => 'nofollow', 'data-confirm' => 'Are you sure?'}
      %i.fa.fa-trash-o.rubylang