!!!
%html
  %head
    %title Admin | Yellow Mountain
    %meta{:name => 'description', :content => "Yellow Mountain admin dashboard."}
    = stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0'}
    = csrf_meta_tags
  %body{'data-no-turbolink' => false}
    #background
      = image_tag 'skyscape.png'
    .navbar.navbar-fixed-top.navbar-charcoal
      .container-fluid
        .navbar-header
          %a{:href => root_path}
            - if false
              .navbar-brand
                %i.ym-logo-circle-o.yellowmountain{:style => 'font-size:2em;'}
            .navbar-brand.headline{:style => ''}
              <i class="ym-logo yellowmountain"></i><span class="yellowmountain">Yellow</span><span class="github">Mountain</span>
        %ul.nav.navbar-nav
          %li{:class => "#{'active' if controller_name == 'dashboard'}"}
            = link_to 'Dashboard', admin_path
          %li{:class => "#{'active' if controller_name == 'blog_posts'}"}
            = link_to 'Posts', admin_blog_posts_path
          %li{:class => "#{'active' if controller_name == 'pages'}"}
            = link_to 'Pages', admin_pages_path
          %li{:class => "#{'active' if controller_name == 'users'}"}
            = link_to 'Users', admin_users_path
    .container-fluid
      .col-sm-3.col-md-2.sidebar.sidebar-left
        %h3.headline.github Posts
        %ul.nav.nav-sidebar
          %li{:class => "#{'active' if current_page?(admin_blog_posts_path)}"}
            = link_to 'View all', admin_blog_posts_path
          %li{:class => "#{'active' if current_page?(new_admin_blog_post_path)}"}
            = link_to 'New Post', new_admin_blog_post_path
        %h3.headline.github Pages
        %ul.nav.nav-sidebar
          %li{:class => "#{'active' if current_page?(admin_pages_path)}"}
            = link_to 'View all', admin_pages_path
          %li{:class => "#{'active' if current_page?(new_admin_page_path)}"}
            = link_to 'New Page', new_admin_page_path
        %h3.headline.github Users
        %ul.nav.nav-sidebar
          %li{:class => "#{'active' if current_page?(admin_users_path)}"}
            = link_to 'View all', admin_users_path
          %li{:class => "#{'active' if current_page?(new_admin_user_path)}"}
            = link_to 'New User', new_admin_user_path
        %h3.headline.github Settings
        %ul.nav.nav-sidebar
          %li
            = link_to 'Item', '#'
          %li
            = link_to 'Item', '#'
      .col-sm-10.col-sm-offset-2
        .row
          = yield
        .row.text-center{:style => 'padding-top:15px;padding-bottom:15px;'}
          %small{:style => 'color:#777;'}
            Yellow Mountain Ltd.
            %i.ym-logo.yellowmountain
            Company No. 09616089
          %br/
          %small{:style => 'color:#777;'} Copyright &copy; #{Date.today.strftime('%Y')} Yellow Mountain Ltd. All rights reserved.