!!!
%html
  %head
    - if content_for? :meta_tags
      = yield :meta_tags
    - else
      %title Yellow Mountain
      %meta{:name => 'description', :content => "We build awesome web applications."}
      %meta{:property => 'og:title', :content => 'Yellow Mountain'}
      %meta{:property => 'og:description', :content => 'We build awesome web applications.'}
      %meta{:property => 'og:type', :content => 'website'}
      %meta{:property => 'og:url', :content => 'http://yellowmountain.io/'}
      %meta{:property => 'og:image', :content => image_url('og-placeholder.png')}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0'}
    = csrf_meta_tags
  %body{'data-no-turbolink' => false}
    / body has 'data-no-turbolink' because... ugh. Logo isn't loading on other pages no matter what I try.
    = render 'layouts/header'
    .row
      .container-fluid
        = yield
    .row.text-center.hidden{:style => 'margin-top:100px;'}
      %h3 Building Mountains
      %h4 Come back soon.
    .row.text-center{:style => 'padding-top:15px;padding-bottom:15px;'}
      %small{:style => 'color:#777;'}
        %i.ym-logo
        Yellow Mountain Ltd. | Company No. 09616089
      %br/
      %small{:style => 'color:#777;'} Copyright &copy; #{Date.today.strftime('%Y')} Yellow Mountain Ltd. All rights reserved.